* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
}

.container {
  max-width: 450px;
  margin-inline: auto;
  margin-top: 2rem;
  padding-inline: 1rem;
}

.text-container {
  font-size: 0.6rem;
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-container h1 {
  margin-bottom: 1rem;
}

.text-container h1:nth-child(1) {
  opacity: 0;
  transform: translateX(-100%);
  animation: 1s ease-out 0.5s 1 slideInFromLeft forwards;
}

.text-container h1:nth-child(2) {
  opacity: 0;
  transform: translateY(100%);
  animation: 1s ease-out 1.5s 1 slideInFromBottom forwards;
}

form {
  position: relative;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(100%);
  animation: 1s ease-out 2.5s 1 slideInFromBottom forwards;
}

form input {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: 0.7rem;
  border: 2px solid gray;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  padding-left: 3rem;
}

form button {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  border: none;
  padding-inline: 10px;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.data {
  display: flex;
  gap: 1rem;
}

.data img {
  display: block;
  width: 30%;
  max-height: 10rem;
  object-fit: cover;
}

.data .content-container h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.data .content-container h2 a {
  color: green;
  text-decoration: none;
}

.data .content-container ul {
  padding-left: 1rem;
}
