* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
}

.container {
  max-width: 450px;
  margin-inline: auto;
  margin-top: 2rem;
  padding-inline: 1rem;
}

.text-container {
  font-size: 0.6rem;
}

.text-container h1 {
  margin-bottom: 1rem;
}

form {
  position: relative;
  margin-bottom: 2rem;
}

form input {
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: 0.7rem;
  border: 2px solid gray;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  padding-left: 3rem;
}

form button {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  border: none;
  padding-inline: 10px;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.data-list .data {
  display: flex;
  gap: 1rem;
}

.data .content-container h2 {
  font-size: 1.2rem;
}

.data .content-container ul {
  padding-left: 1rem;
}
